body {
  margin: 0;
  padding: 0;

  .spotim-header {
    text-align: center;
    background-color: #0082DD;
    height: 150px;
    padding: 20px;
    color: white;
    .spotim-title {
      font-size: 1.5em;
    }
  }
}

.message-creator {
  padding-top: 2rem;
}

.avatar {
  display: inline-block;
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
}

.username {
  display: inline-block;
}

.messages-list {
  float: left;
}

.own-message {
  background-color: greenyellow;
}





